<div cdkDropListGroup class="column-container">
  <div 
    id="new"
    class="list-container" 
    cdkDropList 
    [cdkDropListData]="(task$ | async) ?? task"
    (cdkDropListDropped)="drop($event)">
    <h3>To Do</h3>
    <div *ngFor="let item of task$ | async" cdkDrag [cdkDragData]="item">
      <ng-container *ngIf="item.status === 'new'">
        <app-task-card [task]="item"></app-task-card>
      </ng-container>
    </div>
  </div>

  <div 
    id="doing"
    class="list-container" 
    cdkDropList 
    [cdkDropListData]="(task$ | async) ?? task"
    (cdkDropListDropped)="drop($event)">
    <h3>Doing</h3>
    <div *ngFor="let item of task$ | async" cdkDrag [cdkDragData]="item">
      <ng-container *ngIf="item.status === 'doing'">
        <app-task-card [task]="item"></app-task-card>
      </ng-container>
    </div>
  </div>

  <div 
    id="done"
    class="list-container" 
    cdkDropList 
    [cdkDropListData]="(task$ | async) ?? task"
    (cdkDropListDropped)="drop($event)">
    <h3>Done</h3>
    <div *ngFor="let item of task$ | async" cdkDrag [cdkDragData]="item">
      <ng-container *ngIf="item.status === 'done'">
        <app-task-card [task]="item"></app-task-card>
      </ng-container>
    </div>
  </div>
</div>